/* Flow Start */

.flow {
    margin-bottom: 50px;
}

.flow h3 {
    font-size: 26px;
    line-height: 1;
    height: 26px;
    margin: 30px auto;
}

.flow ul {
    position: relative;
}

.flow ul::before {
    content: "";
    position: absolute;
    width: 70%;
    border-top: 4px dashed #666;
    top: 38px;
    left: 15%;
}

.flow ul li .wrapper {
    background-color: #fff;
    margin: 15px;
}

.flow ul li .wrapper i.step {
    width: 50px;
    height: 50px;
    line-height: 46px;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    font-family: "Noto Sans", Roboto, Arial;
    color: #31a0e7;
    border: 2px solid #31a0e7;
    border-radius: 50%;
}

.flow ul li .wrapper h4 {
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    margin: 0;
}

.flow ul li .wrapper p {
    color: #666;
    margin-top: 20px;
    font-size: 14px;
    line-height: 20px;
    height: 4.28em;
    overflow: hidden;
}


@media (max-width: 992px) {
    .flow ul::before {
        content:none;
    }
}
/* Flow End */