.APIDoc h2,
.APIDoc h3,
.APIDoc h4,
.APIDoc h5 {
    color: #333;
}

.APIDoc .api-down {
    padding: 16px 22px;
    line-height: 16px;
    background-color: #2277DA;
    color: #FFF;
    border-radius: 5px;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
}

.APIDoc .documentation {
    line-height: 1.5em;
    color: #3f3f3f;
}

.APIDoc .documentation h2 {
  font-size: 1.75em;
}

.APIDoc .documentation h3 {
  font-size: 1.25em;
}

.APIDoc .documentation table {
    width: auto;
}

.APIDoc th, .APIDoc th > p {
    white-space: nowrap;
}